.projectPictures{

height: 15vh;

}
.projectSection{  
  flex-wrap: wrap;
  font-size: 50px;
}
.contact{

height: 100%;

}
h1{
  font-size: 70px;
  color: black;
  
}
.welcome{

background-image: url("./assets/cover/logo.jpg");
background-size:cover ;
background-position:center;

font-size: 200px;
color: rgb(108, 109, 112);
text-align: left;
align-content: center;
padding-top: 10%;

}
header{
  justify-content: space-between;

  height:25vh;
  padding-top: 3vw;
}
ul{
  /* padding-top :10px; */
  font-size: 30px;
  text-decoration: underline;
  text-align: right;
}
.pageHeight{
  height: 100vh;

}
.Home{}
.About{
  background-image: url("./assets/cover/1.jpg");
  background-size: cover;
}
.Projects{
background-image: url("./assets/cover/3.jpg");
background-size: cover;
background-position: center;

}
.Contact{
  
  background-image: url("./assets/cover/5.jpg");
  background-size: cover;

}
.card{
opacity: 95%;
margin: 10px;
background-color: rgb(71, 76, 84);
width: 15vw;
height: auto;
color: white;



}

.gallery{
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -webkit-column-width: 20%;
  -moz-column-width: 20%;
  column-count: 3;
  column-width: 20%;
  padding: 0,12;
  margin: 5px;
}
.gallery .pictures{ 
-webkit-transition: all 300ms ease;
transition: all 300ms ease;
cursor: pointer;
margin-bottom: 15px;
}

@media(max-width:900px){
  .gallery{
 -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
}
@media(max-width:300px){
  .gallery{
 -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}
}
.gallery .pictures:hover{
  filter: opacity(.5);
}

/* p{
position:relative

} */