.projectPictures{

height: 15vh;

}
.projectSection{  
  display:flexbox;
  font-size: 50px;
}
.contact{

height: 100%;

}
h1{
  font-size: 70px;
  color: black;
  
}
.welcome{

background-image: url("./assets/cover/logo.jpg");
background-size:cover ;
background-position:center;

font-size: 200px;
color: rgb(108, 109, 112);
text-align: left;
align-content: center;
padding-top: 10%;

}
header{
  justify-content: space-between;

  height:25vh;
  padding-top: 3vw;
}
ul{
  /* padding-top :10px; */
  font-size: 30px;
  text-decoration: underline;
  text-align: right;
}
.pageHeight{
  height: 100vh;

}
.Home{}
.About{
  background-image: url("./assets/cover/1.jpg");
  background-size: cover;
}
.Projects{
background-image: url("./assets/cover/3.jpg");
background-size: cover;
background-position: center;
}
.Contact{
  background-image: url("./assets/cover/5.jpg");
  background-size: cover;

}
.card{
opacity: 95%;
margin: 10px;
background-color: black;
width: 15vw;
height: auto;


}
/* p{
position:relative

} */