.About {
  background-image: url("./assets/cover/1.jpg");
  background-size: cover;
  padding-left: 100px;
}

.button {
  margin-top: 50px;
  background-color: rgb(79, 76, 73);
  color: rgb(249, 237, 237);
  height: 60px;
  border: black;
  font-size: 25px;
  width: auto;


}

.button2 {
  background-color: gray;
}

.closeBtn {
  width: 5vw;
  height: auto;
  font-size: 20px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: rgb(112, 5, 5);

}

.contact {
  height: 100%;
}

.Contact {
  padding-left: 10%;
  background-image: url("./assets/cover/5.jpg");
  background-size: cover;
  height: 100vh;
  justify-content: left;
  color: white
}

.card {
  opacity: 95%;
  margin: 10px;
  background-color: rgb(71, 76, 84);
  width: 15vw;
  height: auto;
  color: white;
}

/* .footer1{
  size: 100px;
} */
.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -webkit-column-width: 20%;
  -moz-column-width: 20%;
  column-count: 3;
  column-width: 20%;
  padding: 0, 12;
  margin: 5px;
}

.gallery .pictures:hover {
  filter: opacity(.5);
}

.gallery .pictures {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  cursor: pointer;
  margin-bottom: 15px;
}
h1 {
  color: rgb(174, 168, 168);

}

.projectPictures {

  height: 15vh;

}


h1 {
  font-size: 70px;
  color: rgb(165, 165, 165);
  font-weight: bold;
}
h3{
  text-decoration: underline;
  font-size: 50px;
}
.hook{

  margin-right: 50px;
  color: #6f6c6c;
  font-size: 50px;
  padding-left: 50px;
  
}
/* .hook2{color: white;
background-color: black;
opacity:50%;}
.hook3{color:rgb(0, 0, 0);
background-color: rgb(75, 75, 75);} */
.resumeList{
  font-size: 50px;
  padding-left: 50px ;
}

header {
  justify-content: space-between;
  height: 15vh;
  padding-top: 3vw;
}

.Home {}

.pageHeight {
  height: 100vh;

}




@media(max-width:900px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media(max-width:300px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

.link {
  font-size: 100vh;

}

.Modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(15, 15, 15);
  transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
}
li{
  font-size: 30px;
}

.Modal.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);

}

.Modal img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
  /* border: 5px solid rgb(5, 5, 5); */
  border-radius: 3px;
}


.Modal.open svg {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 2%;
  height: auto;
  padding: 5px;
  background-color: rgb(86, 92, 92);
  border-radius: 5rem;

}


.Projects {
  background-image: url("./assets/cover/3.jpg");
  background-size: cover;
  height: auto;

}
.Resume {
  background-image: url("./assets/cover/6.jpg");
  background-size: cover;
  color: 'white'

}

.title {
  padding-top: 50px;
  font-size:8rem;
  color: rgb(180, 180, 218);
  padding-left: 5%;
  
}
@media(min-width: 1400px){
  .span .title{
    font-size:  8rem;
  }
}
@media(max-width: 650px){
  .span .title{
font-size: 30px;
  }

}
.span{
  color: #7d7676;
}
.stackOverflow{
  color :rgb(0, 0, 0);
  background-color: white;
  width: 50px;
}

ul {
  /* padding-top :10px; */
  font-size: 30px;
  text-decoration: underline;
  text-align: right;
}

.visitProject {
  width: 100%;
  background-color: rgb(46, 38, 38);
  color: black;
}


.welcome {
  background-image: url("./assets/cover/logo.jpg");
  background-size: cover;
  background-position: center;
  font-size: 100px;
  color: rgb(108, 109, 112);
  text-align: left;
  align-content: center;
  padding-top: 5%;
}
.resumeBody{
  text-align: center;
}
